export(divNeeded)
export(filterOverData)
export(getCoefTab)
export(getFuncMaxed)
export(getFuncsMaxed)
export(getIndices)
export(getOverlap)
export(getOverlapSummary)
export(getRedundancy)
export(getStdAndMeanFunctions)
export(qw)
export(relevantSp)
export(sAICfun)
export(standardizeUnitScale)
export(standardizeZScore)
export(stdEffects)
export(whichVars)
